<header>
<div class="carousel fade-carousel slide carousel-fade" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->

  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    <li data-target="#bs-carousel" data-slide-to="1"></li>
    <li data-target="#bs-carousel" data-slide-to="2"></li>
    <li data-target="#bs-carousel" data-slide-to="3"></li>
    <li data-target="#bs-carousel" data-slide-to="4"></li>

  </ol>
  
  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1">
          <div class="overlay"></div>
      </div>
      <div class="hero">
        <hgroup>
            <h1>Shams Aalam</h1>
            <h3>Para Swimmer</h3>
        </hgroup>
      </div>
    </div>
    <div class="item slides">
      <div class="slide-2">
          <div class="overlay"></div>
      </div>
      
    </div>
    <div class="item slides">
      <div class="slide-3">
          <div class="overlay"></div>
      </div>
        
    </div>
    <div class="item slides">
      <div class="slide-4">
          <div class="overlay"></div>
      </div>
      
    </div>
    <div class="item slides">
      <div class="slide-5">
          <div class="overlay"></div>
      </div>
      
    </div>
  </div> 
</div>
</header>