<footer>
<div class="container">
<div class="row text-center">
	<div class="col-sm-12">
		<h5>Follow me</h5>
	</div>
</div>  
        <div class="text-center center-block">
            <p class="txt-railway">@copyright 2017 www.parashams.com</p>
                <a href="https://www.facebook.com/bootsnipp"><i id="social-fb" class="fa fa-facebook-square fa-3x social"></i></a>
              <a href="https://twitter.com/bootsnipp"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
              <a href="https://plus.google.com/+Bootsnipp-page"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
              <a href="mailto:bootsnipp@gmail.com"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
</div>
</div>
<br>
</footer>